


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  /*background: url("background.jpg");*/
    background-size: cover;

  background-position: center;

  background-repeat: no-repeat;
  /*background-size: 800px 800px;*/
  /*background-position: top -90px left 00px;*/
}

