


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background: url("background.jpg");*/
  background-size: cover;

  /*background-position: center;*/
background-position: right top;
  background-repeat: no-repeat;
  /*background-size: 800px 800px;*/
  /*background-position: top -90px left 00px;*/
}

.introText {
   position: relative;

    left : 100px;
    top : -230px;
  color: lightblue;
 max-width: 600px;
  padding: 15px;
  margin: 0 auto;
  font-size: 20px;
}

